# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
citi_data_path = os.path.relpath("../Weather/output_data/cities.csv")
citi_data = pd.read_csv (citi_data_path)
citi_data.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Belle Fourche,73,US,1650577065,33,44.6714,-103.8522,68.50,18.14
1,1,Busselton,0,AU,1650577065,75,-33.6500,115.3333,54.68,11.95
2,2,East London,81,ZA,1650577065,49,-33.0153,27.9116,74.50,4.92
3,3,Mahon,75,ES,1650577066,94,39.8885,4.2658,55.96,16.11
4,4,Kandi,41,BJ,1650577066,58,11.1342,2.9386,84.24,8.28

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locs = citi_data[["Lat","Lng"]]
wght = citi_data["Humidity"]
img = gmaps.figure(map_type="TERRAIN")
img.add_layer(gmaps.heatmap_layer(locs, weights = wght))
img

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
my_weath = citi_data.loc[((citi_data['Humidity'] < 60) & (citi_data['Max Temp'] < 60)
                           & (citi_data['Cloudiness'] > 50))]
my_weath_cle = my_weath.dropna()
my_weath_cle

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
6,6,Khovd,100,MN,1650577067,41,48.0056,91.6419,44.56,11.54
24,24,Ulaangom,76,MN,1650577072,47,49.9811,92.0667,39.97,0.54
56,56,Tambovka,92,RU,1650577080,52,50.0969,128.0489,34.38,10.18
85,85,Albany,100,US,1650576597,49,42.6001,-73.9662,56.57,4.00
135,135,Verkh-Usugli,52,RU,1650577101,59,52.7000,115.1667,21.40,3.87
138,138,Necochea,51,AR,1650577102,50,-38.5473,-58.7368,57.94,8.55
158,158,Yuancheng,100,CN,1650577107,25,36.6520,107.7896,53.44,5.21
179,179,Bethel,100,US,1650577114,58,41.3712,-73.4140,55.63,14.97
230,230,Nueve de Julio,70,AR,1650577128,41,-35.4444,-60.8831,59.83,1.72
268,268,Klyuchevskiy,76,RU,1650577139,54,53.5317,119.4519,26.53,7.61
298,298,Cap-aux-Meules,75,CA,1650577148,48,47.3821,-61.8597,39.25,11.50
299,299,Palmer,100,US,1650576881,42,42.1584,-72.3287,56.57,17.27
306,306,Havre-St-Pierre,75,CA,1650577151,56,50.2334,-63.5986,37.76,9.22
314,314,Nanton,100,CA,1650577153,43,50.3501,-113.7687,49.87,11.97
334,334,Baiyin,100,CN,1650577160,21,36.5583,104.2081,50.40,2.39
372,372,High Level,75,CA,1650577170,42,58.5169,-117.1360,41.11,6.91
422,422,Kungurtug,100,RU,1650577184,51,50.5994,97.5228,37.65,3.58
430,430,Williston,95,US,1650576672,58,48.1470,-103.6180,42.82,11.01
436,436,Zhaodong,99,CN,1650577187,42,46.0833,125.9833,42.69,14.18
469,469,Nizhniy Tsasuchey,93,RU,1650577196,50,50.5167,115.1333,35.40,6.46
481,481,Weiser,66,US,1650577086,50,44.2510,-116.9693,59.86,5.01
487,487,Slave Lake,75,CA,1650576945,40,55.2834,-114.7690,48.18,17.27
513,513,Yamachiche,100,CA,1650577209,57,46.2668,-72.8324,53.65,19.57
519,519,Çumra,100,TR,1650577211,46,37.5732,32.7745,50.14,2.84

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
hotel_df = my_weath_cle
# tar_lat = my_weath_cle.iloc[0 , 6]
# tar_lon = my_weath_cle.iloc[0 , 7]
# tar_loc = f"{tar_lat},{tar_lon}"
tar_rad = 5000
tar_type = "hotel"
hotels = []

# tar_param = {"location": tar_loc,
#     "radius": tar_rad,
#     "type": tar_type,
#     "key": g_key}

goomap_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#test = requests.get(goomap_url, params=tar_param).json()

In [13]:
# testr = test.json()
# pprint.pprint(test["results"][0]["name"])
# pprint.pprint(testr["results"][0]["geometry"]["location"]["lat"])
# pprint.pprint(testr["results"][0]["geometry"]["location"]["lng"])

In [14]:
for i in my_weath_cle.index:
    tar_lat =  my_weath_cle["Lat"][i]
    tar_lon = my_weath_cle["Lng"][i]
    tar_loc = f"{tar_lat},{tar_lon}"
    tar_param = {"location": tar_loc,"radius": tar_rad,"type": tar_type,"key": g_key}
    test = requests.get(goomap_url, params=tar_param).json()
    hotels.append(test["results"][0]["name"])
hotel_df["Hotel Name"] = hotels

In [15]:
hotel_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
6,6,Khovd,100,MN,1650577067,41,48.0056,91.6419,44.56,11.54,Khovd
24,24,Ulaangom,76,MN,1650577072,47,49.9811,92.0667,39.97,0.54,Ulaangom
56,56,Tambovka,92,RU,1650577080,52,50.0969,128.0489,34.38,10.18,Tambovka
85,85,Albany,100,US,1650576597,49,42.6001,-73.9662,56.57,4.00,Voorheesville
135,135,Verkh-Usugli,52,RU,1650577101,59,52.7000,115.1667,21.40,3.87,Verkh-Usugli

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map


# Display figure